* {
  box-sizing: border-box;
}

.parent {
    border: 5px solid green;
    position: relative;
    width: 400px;
    height: 100%;
}

.child {
    border: 5px solid red;
    width: 100px;
    height: 100px;
}

/* static */
.child:nth-child(1) {
    position: static; /*defoult*/
}

/* relative
1 місце в потоці резеврується
2 top, right, bottom, left  відносно свого положення в нормальному потоці*/
.child:nth-child(2) {
    background-color: yellow;
    position: relative;
    /* top: 50px; */
    /* bottom: -20px; */
    /* left: 100px; */
    /* right: 20px; */
    /* z-index: -1; */
}

/* absolute 
1 місце у потоці не резервується
2 top, right, bottom, left  відносно положення найближчого позиціонованого предка в нормальному потоці*/
.child:nth-child(3) {
    background-color: orange;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.child:nth-child(4) {
    background-color: orange;
    position: absolute;
    top: 0px;
    right: 0px;
}

.child:nth-child(5) {
    background-color: orange;
    position: absolute;
    right: -50px;
    bottom: -50px;
    border-radius: 50%;
    background-color: green;
}


